node_modules
npm-debug.log
build
.git
.gitignore
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
README.md
docker-compose.yml
Dockerfile
server/node_modules
server/npm-debug.log 